
body{
    margin :0
}
.comment-person{
    margin-top: 10px;
    color:#FE8C10;
}
.comment-child{
    color:#FE8C10
}
.comment-user{
    margin-top: 10px;
    color:#4D4D4D;
    font-size: 14px;
    font-weight: 700;
    
}
.container-comment{
    border-bottom: #E8E8ED 1px solid;
}