
body{
    margin :0
}
.comment-person{
    color:#FE8C10;
    float:left;
    font-size :20px;
    margin-right:5px;
}
.comment-child{
    color:#FE8C10;
    float:left;
    font-size :20px;

}
.comment-user{
    color:#4D4D4D;
    font-size: 14px;
    font-weight: 700;
    
}
.container-comment{
    margin-top:10px;
    border-bottom: #E8E8ED 1px solid;
}